@model Listing
<div class="panel panel-default detail__data-panel">
@{
    bool ppAccepted =
        (Model.OwnerAcceptsPayPal() && SiteClient.BoolSetting(SiteProperties.PayPal_Enabled));
    bool ccAccepted =
        (Model.Owner.CreditCardAccepted() && SiteClient.BoolSetting(SiteProperties.AuthorizeNet_Enabled)) ||
        (Model.Owner.BoolProperty(StdUserProps.StripeConnect_SellerAccountConnected) && SiteClient.BoolSetting(SiteProperties.StripeConnect_Enabled));
    string pmtInstr = Model.PaymentInstructions();
    if (ppAccepted || ccAccepted || !string.IsNullOrEmpty(pmtInstr))
    {
	<div class="panel-heading">
        <strong>
            @Html.GlobalResource("PaymentOptions")
        </strong>
		</div>
	<div class="panel-body">
                @if (ppAccepted)
                {
                    @Html.GlobalResource("SellerAcceptsPayPal")<br />
                }
                @if (ccAccepted)
                {
                   @Html.GlobalResource("SellerAcceptsCreditCards")<br />
                }
                            @if (!string.IsNullOrEmpty(pmtInstr))
                            {
            <strong>@Html.GlobalResource("PaymentInstructions")</strong><br />
                        @pmtInstr
                    
                }
		</div>
    }
}
</div>
